body {
    color: grey
    
}

h1 {
    background-color: rgb(250, 189, 240);
    outline: 2px solid rgb(165, 165, 233);
    color: rgb(167, 5, 72);
    padding:5px;
    border:5px;
    margin:5px;padding:5px;
    border:5px;
    margin:5px;
}

h2 {
    border:5px;
    margin:5px;
    background-color: aquamarine;
}

#title {
    background-color: rgb(229, 245, 245);
    color:aliceblue
    border:5px;
    margin:5px;
}

.subsection.header{
    color:rgb(175, 105, 12)
    border:5px;
    margin:5px;

}

.subsection#preview {
    border:5px;
    margin:5px;
    color:blue
}

p {
    color:rgb(68, 7, 85);
    background-color: beige;
    outline:5px solid rgb(17, 151, 151)
    
}

ul {
    padding:5px;
    border:5px;
    margin:5px;
    
}

<<<<<<< HEAD
/* lo ultimo que escriba va a tener prioridad */
=======
h1 {
    background-color: aquamarine;
}
a:focus {
    background-color: aquamarine;
}

a:hover {
    text-decoration: solid;
}

a:active {
    color: aquamarine;
}
>>>>>>> refs/remotes/origin/main
