body {
    color: grey
}

h1 {
    color: blue
}

#title {
    background-color: azure;
}

.subsection.header{
    color:antiquewhite
}

.subsection#preview {
    color:blue
}

p {
    color:rgb(100,0,127)
    
}

p {
    background-color: bisque;
}

h1 {
    background-color: aquamarine;
}
a:focus {
    background-color: aquamarine;
}

a:hover {
    text-decoration: solid;
}

a:active {
    color: aquamarine;
}